<div class="register-container">
    <div class="register-card">
        <div class="header">
            <h1>Registro Usuario</h1>
            <p>Complete el siguiete formulario</p>
        </div>

        <!-- inicio de formulario reactivo -->
        <!-- primero se registra para conectar el usuario y el otro es el registro de usuario -->
        <form [formGroup]="registerForm" (ngSubmit)="registroUsuario()">
            <!-- campo nombre -->
            <div class="form-group">
                <label for="nombre">Nombre<span>*</span></label>
                <input 
                id="nombre"
                type="text"
                placeholder="Ingrese su nombre"
                formControlName="nombre">

                <!-- Mensaje de error -->
                 <!-- touched es cuando este dentro del input y && es para que  se cumpla las dos -->
                 @if(nombre?.touched && nombre?.invalid){
                    <small class="error">
                        @if(nombre?.errors?.['required']){
                            El nombre es obligatorio
                        }
                        @if (nombre?.errors?.['mindlength']) {
                            El nombre debe de tener minimo 3 caracteres.
                        }
                    </small>
                 }
            </div>
            <div class="form-group">
                <label for="apellido">Apellido<span>*</span></label>
                <input 
                id="apellido"
                type="text"
                placeholder="Ingrese su apellido"
                formControlName="apellido"
                >
                @if(apellido?.touched && apellido?.invalid){
                    <small class="error">
                        @if (apellido?.errors?.['required']){
                            El campo apellido es obligatorio
                        }
                        @if(apellido?.errors?.['mindlength']){
                            El apellido debe tener minimo 3 caracteres
                        }
                    </small>
                }
            </div>
            <div class="form-group">
                <label for="correo">Correo Electronico<span>*</span></label>
                <input 
                id="correo"
                type="email"
                placeholder="ejemplo@correo.com"
                formControlName="correo"
                >
                @if(correo?.touched && correo?.invalid){
                    <small class="error">
                        @if (correo?.errors?.['required']) {
                            El correo es obligatorio
                        }
                        @if (correo?.errors?.['email']) {
                            El formato del correo es incorrecto
                        }
                    </small>
                }
            </div>
            <div class="form-group">
                <label for="password">Contraseña<span>*</span></label>
                <input type="password"
                id="password"
                placeholder="Ingrese su Contraseña"
                formControlName="password"
                >
                @if (password?.touched && password?.invalid) {
                    <small class="error">
                        @if (password?.errors?.['required']) {
                            La contraseña es obligatoria
                        }
                        @if (password?.errors?.['minlength']){
                            La contraseña debe de tener 8 Caracteres
                        }
                        @if (password?.errors?.['pattern']) {
                            Debe contener una Mayuscula, una minuscula,numero y un caracter especial.
                        }
                    </small>
                }
            </div>
            <div class="form-group">
                <label for="confirmarPassword">Confirmar Contraseña<span>*</span></label>
                <input type="password" 
                id="confirmarPassword"
                placeholder="Confirme su contraseña"
                formControlName="confirmarPassword">
                @if (confirmarPassword?.touched && confirmarPassword?.invalid) {
                    <small class="error">
                        @if(confirmarPassword?.errors?.['required']){
                            Debe confirmar contraseña
                        }
                    </small>
                }
                <!-- Error de confirmacion de contraseña -->
                 @if (registerForm.errors?.['passwordNoCoincide'] && confirmarPassword?.touched){
                    Las contraselñas no coinciden
                 }
            
            </div>

            <button type="submit" [disabled]="registerForm.invalid">Registrarse</button>
        </form>


    </div>
</div>